

#controls {
    z-index: 3000;
}
    #controls a {
        color: #086cb2;
        border-color: #086cb2;
        font-weight: 400;
        padding: 12px;
    }

    #controls .delete-slide {
        position: absolute;
        display: block;
        top: 0;
        text-align: center;
        z-index: 3000;
        width: 100%;
    }

    #controls .insert-slide {
    }

    #controls .insert {
        position: absolute;
        top: 0;
        z-index: 3000;
    }
    #controls .insert.disabled {
        /*color: #999;*/
        opacity: 0.5;
    }

    #controls .insert.before, {
        left: 0;
    }

    #controls .insert.after {
        right: 0;
    }