

#controls {
    z-index: 3000;
}
    #controls a {
        color: #086cb2;
        border-color: #086cb2;
        font-weight: 400;
        padding: 12px;
    }

    #controls .save-slide,
    #controls .preview-slide,
    #controls .delete-slide,
    #controls .insert
    {
        position: absolute;
        z-index: 3000;
    }

    #controls .delete-slide {
        display: block;
        top: 0;
        text-align: center;
        width: 100%;
    }

    #controls .insert-slide {
        left: 0;
    }

    #controls .insert {
        top: 0;
    }
    #controls .insert.disabled, .delete-slide.disabled {
        /*color: #999;*/
        opacity: 0.5;
    }

    #controls .insert.before, {
        left: 0;
    }

    #controls .insert.after {
        right: 0;
    }

    #controls .save-slide {
        bottom: 0;
        right: 0;
    }
        #controls .save-slide.disabled {
            opacity: .5;
        }


[contenteditable] {
    text-align: left !important;
    background: white !important;
    outline: 1px solid #999;
}
.empty {
    color: #999;
}
.editable {
    background: #dfdfdf;
}

.hide-when-editing {
    display: none;
}