

#controls {
    z-index: 3000;
}
    #controls a {
        /*color: #086cb2;
        border-color: #086cb2;
        font-weight: 400;
        paddi*/ng: 12px;
    }

    #controls .save-slide,
    #controls .delete-slide,
    #controls .insert
    {
        position: absolute;
        z-index: 3000;
    }

/*    #controls .delete-slide {
        display: block;
        top: 0;
        text-align: center;
        width: 100%;
    }*/
    #controls .delete-slide {
        top: 0;
        left: 0;
        background-image: url(../../img/trash.png);
        width: 142px;
        background-size: 12px;
    }

    #controls .insert-slide {
        left: 0;
    }

    #controls .insert {
        top: 0;
    }

    #controls .save-slide.disabled,
    #controls .delete-slide.disabled,
    #controls .insert.disabled
    {
        opacity: 0.5;
        /*display: none;*/
    }

    #controls .insert.before, {
        left: 0;
    }

    #controls .insert.after {
        top: 0;
        right: 0;
        width: 142px;
        background-image: url(../../img/plus.png);
    }

    #controls .save-slide {
        bottom: 0;
        left: 0;
    }
        #controls .save-slide.disabled {
            opacity: .5;
        }

.add-bullet-button {
    margin-top: 12px;
    background: #086cb2;
    color: #eee;
    padding: 6px 12px;
    border-radius: 999px;
    font-weight: 700;
}


[contenteditable] {
    text-align: left !important;
    background: white !important;
    outline: 1px solid #999;
}
.empty {
    color: #999;
}
.editable {
    background: #dfdfdf;
}

.hide-when-editing {
    display: none;
}

.newSlide {
    /*background: cyan;*/
}